* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #e8e8ed;
}
body {
  background: black;
}
nav {
  background-color: rgba(22, 22, 23, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  color: #e8e8ed;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #e8e8ed;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1;
}
nav a:hover {
  color: #0071e3; 
}
.container {
  width: 90%;
  margin-left: 4%;
  margin-bottom: 4%;
  padding-top: 10px;
}
.Product-Details {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}
.Product-Details img {
  width: 500px;
}
.Productinfo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}
.Productinfo h2 {
  margin-bottom: 10px;
}
footer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
}
footer .cart {
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}
footer .cartname {
  text-transform: capitalize;
  font-weight: 700;
}
footer .cart:hover {
  background-color: #0071e3;

  cursor: pointer;
}
footer .cart:active {
  background-color: #0564c2;
}
footer .cart:active .cartname {
  display: none;
}
footer .cart:active .carticon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
}
